/* GLOBAL */

#preloader{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  opacity: 1;
  -webkit-transition: opacity .3s ease, visibility .3s ease;
  transition: opacity .3s ease, visibility .3s ease;
}

#preloader.loaded{
  opacity: 0;
  visibility: hidden;
}

.loader{
  left: 50%;
  overflow: hidden;
  padding: 10px 0;
  position: absolute;
  top: 23%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.spinner {
  width: 170px;
  height: 170px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #231F20;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  background-color: #F2432B;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura PT/FuturaPTLight.woff2') format('woff2'),
       url('../fonts/Futura PT/FuturaPTLight.woff') format('woff'),
       url('../fonts/Futura PT/FuturaPTLight.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura PT/FuturaPTBook.woff2') format('woff2'),
       url('../fonts/Futura PT/FuturaPTBook.woff') format('woff'),
       url('../fonts/Futura PT/FuturaPTBook.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura PT/FuturaPTMedium.woff2') format('woff2'),
       url('../fonts/Futura PT/FuturaPTMedium.woff') format('woff'),
       url('../fonts/Futura PT/FuturaPTMedium.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura PT/FuturaPTDemi.woff2') format('woff2'),
       url('../fonts/Futura PT/FuturaPTDemi.woff') format('woff'),
       url('../fonts/Futura PT/FuturaPTDemi.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura PT/FuturaPTBold.woff2') format('woff2'),
       url('../fonts/Futura PT/FuturaPTBold.woff') format('woff'),
       url('../fonts/Futura PT/FuturaPTBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura PT/FuturaPTHeavy.woff2') format('woff2'),
       url('../fonts/Futura PT/FuturaPTHeavy.woff') format('woff'),
       url('../fonts/Futura PT/FuturaPTHeavy.ttf') format('truetype');
  font-weight: 900;
}

body{
  margin-top: 50px;
  font-family: 'Futura', sans-serif;
  font-weight: normal;
  color: #231F20;
}

.section{
  position: relative;
}

.section__angeled::before, .section__angeled::after, .section__angeled_top-only::before, .section__angeled_bottom-only::after{
  position:absolute;
  content: " ";
  display:block;
  width:100%;
  border-style: solid;
}

.section__angeled::before, .section__angeled_top-only::before{
  top: -100px;
  border-width: 100px 100vw 0 0;
}

.section__angeled::after, .section__angeled_bottom-only::after{
  bottom:-100px;
  border-width: 0 100vw 100px 0;
  z-index: 10;
}

.section__angeled_color_red::before, .section__angeled_color_red::after{
  border-color: transparent #F2432B transparent transparent;
}

.section__angeled_color_white::before, .section__angeled_color_white::after{
  border-color: transparent white transparent transparent;
}

.section__angeled_color_white::before, .section__angeled_top-only::before{
  z-index: 10;
}

.section_bg_red{
  background-color: #F2432B;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section__title{
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.navbar__phones{
  min-width: 200px;
}

.navbar__phone{
  color: #F2432B;
  text-decoration: none;
}

.navbar__phone:hover{
  text-decoration: none;
  border-bottom: 1px dashed #231F20;
  color: #231F20;
}

/* HEADER */

.header{
  padding-top: 5rem;
  /* padding-bottom: 5rem; */
}

.header__title{
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 20px;
}

.header__desc{
  font-size: 20px;
}

.header__img{
  position: relative;
  transition: left .2 ease;
  /* left: 0 !important; */
}

/* ABOUT */

.about{
  padding-top: 100px;
}

.about .section__title{
  z-index: 100;
}

.smart-terminal-component__title, .information__title{
  font-size: 25px;
  font-weight: 700;
}

.circle_white{
  width: 150px;
  height: 150px;
  background-color: white;
  transition: transform .5 ease;
}

.circle_black{
  width: 150px;
  height: 150px;
  background-color: #231F20;
  transition: transform .5 ease;
}

.circle_white:hover, .circle_black:hover{
  transform: scale(1.1);
}

.cashboxes, .lk, .help, .to-know, .apps-market{
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.cashbox{
  overflow: hidden;
  border-radius: 20px;
  /* transition: box-shadow .5s ease, margin-top .5s ease, margin-bottom .5s ease; */
  transition: box-shadow .5s ease;
  cursor: pointer;
}

.cashbox:hover{
  -webkit-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.07);
  box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.07);
  /* margin-top: -2px;
  margin-bottom: 2px; */
}

.cashbox:hover .cashbox__image{
  margin-left: -10px;
}

.cashbox__info{
  padding: 2rem 0rem 2rem 3rem;
}

.cashbox__title{
  font-size: 50px;
  font-weight: 900;
}

.cashboxes__grid_width_half .cashbox__title{
  font-size: 30px;
}

.cashbox__image{
  margin-top: 30px;
  background-size: cover;
  transition: margin-left .5s ease;
}

.cashbox__image_margin_bottom{
  margin-bottom: 30px;
}

.cashbox__image_7_3{
  background-image: url('../img/evotor_7_3.png');
}

.cashbox__image_7_2{
  background-image: url('../img/evotor_7_2.png');
}

.cashbox__image_5{
  background-image: url('../img/evotor_5.png');
}

.cashbox__image_10{
  background-image: url('../img/evotor_10.png');
}

.cashbox__image_fn{
  background-image: url('../img/dop_usl/fn.png');
}

.cashbox__image_sign{
  background-image: url('../img/dop_usl/sign.png');
  margin-bottom: 60px;
  margin-top: 60px;
}

.cashbox__image_ofd{
  background-image: url('../img/dop_usl/ofd.png');
  margin-bottom: 50px;
  margin-top: 50px;
}

.cashbox__image_cto{
  background-image: url('../img/dop_usl/cto.png');
  margin-bottom: 50px;
  margin-top: 50px;
}
.cashbox__image_tech{
  background-image: url('../img/dop_usl/tech.png');
  margin-bottom: 50px;
  margin-top: 50px;
}
.cashbox__image_terminal{
  background-image: url('../img/dop_usl/terminal.png');
  margin-bottom: 50px;
  margin-top: 50px;
}

.cashbox__price{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: -3px;
}

.cashbox__more-info, .cashbox-modal__form-submit{
  border-radius: 30px;
  padding: 13px 20px 10px;
  text-transform: uppercase;
  background-color: #F2432B;
  /* color: #231F20; */
  font-weight: 900;
  border: 0;
  line-height: 1;
}

.cashbox:hover .cashbox__more-info{
  background-color: #cb3a27;
}

.cashbox__more-info:hover, .cashbox__more-info:active, .cashbox-modal__form-submit:hover, .cashbox-modal__form-submit:active{
  background-color: #cb3a27 !important;
  /* background-color: #231F20; */
  /* color: #F2432B; */
}


.cashboxes__cirle_bg_first{
  position: absolute;
  height: 50px;
  width: 50px;
  left: 1%;
  top: 300px;
  background: #F2432B;
  border-radius: 50%;
}

.cashboxes__cirle_bg_second{
  position: absolute;
  height: 75px;
  width: 75px;
  right: 3%;
  top: 450px;
  background: #231F20;
  border-radius: 50%;
}

.cashboxes__cirle_bg_third{
  position: absolute;
  height: 200px;
  width: 200px;
  left: 5%;
  bottom: 300px;
  background: #231F20;
  border-radius: 50%;
}

.carousel-controle__icon{
  color: #231F20;
}

.carousel-indicators li{
  background-color: rgba(35, 31, 32, 0.5);
}

.carousel-indicators li.active{
  background-color: #F2432B;
}


.cashbox-modal__title{
  font-size: 45px;
  font-weight: 900;
}

.cashbox-modal__close{
  font-size: 3rem;
  color: #F2432B;
}

.pretty .state label::after, .pretty .state label::before, .pretty.p-icon .state .icon{
  top: 50%;
  transform: translateY(-50%);
  /* font-size: 25px; */
  /* left: 10px; */
  transition: all .15s ease;
}

.pretty input:checked ~ .state.p-danger label::after{
  background-color: #F2432B !important;
}

.cashbox-modal__radio{
  border: 3px solid #dbdbdb;
  border-radius: 10px;
  padding: 10px;
  transition: all .15s ease;
}

.cashbox-modal__radio.active{
  border-color: #F2432B;
}

.cashbox-modal__radio:hover{
  border-color: #c2c2c2;
}

.cashbox-modal__radio.active:hover{
  border-color: #c23724;
}

.cashbox-modal__radio-title{
  margin-left: 40px;
  font-weight: 600;
  white-space: normal;
}

.cashbox-modal__radio-desc{
  white-space: normal !important;
  text-indent: 0 !important;
  display: block;
  margin-left: 30px !important;
  line-height: 1.1;
  /* height: 0 !important; */
  /* margin-bottom: 15px !important; */
}

.cashbox-modal__radio-check-icon{
  padding: 3px;
}

.secton__title{
  font-weight: 700;
  font-size: 28px;
}

.cashbox-modal__radio-price{
  margin-left: 40px;
  font-weight: 700;
  font-size: 19px;
  margin-top: -15px;
}

@media (min-width: 992px){
  .modal-dialog{
    max-width: 950px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .modal-dialog{
    max-width: 800px;
  }
}

@media (min-width: 576px) and (max-width: 767px){
  .modal-dialog{
    max-width: 600px;
  }
}

.cashbox-modal__calc-title{
  font-size: 23px;
  font-weight: 600;
}

.cashbox-modal__calc-price{
  font-size: 28px;
  font-weight: 800;
  color: #F2432B;
}

.cashbox-modal__form{
  background-color: #f8f8f8;
  /* color: white; */
  padding: 20px;
  border-radius: 15px;
  border: 3px solid #231F20;
}

.border_right{
  border-right: 1px solid #eaeaea;
}

.form-control{
  border-color: #231F20;
}

.cashbox-modal__tech{
  background-color: #f8f8f8;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -15px;
  padding: 15px;
}

.cashbox-modal__table-row-title{
  font-size: 14px;
  color: #464646;
  font-weight: 200;
}

.cashbox-modal__tech .table td, .cashbox-modal__tech .table th{
  border: 0;
}

.cashbox-modal__tech .table td{
  /* font-size: 15px; */
}

.options__title{
  line-height: .9;
}


.advantage{
  margin-bottom: 1rem;
}

.advantage__title{
  font-weight: 700;
}

.lk{
  overflow: hidden;
}

.lk__phots-container{
  /* height: 350px; */
  position: relative;
}

.lk__photo-2, .lk__photo-3{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lk__photo{
  background: transparent;
  /* background-size: cover; */
}

.lk__photo img{
  border: 1px solid #eaeaea;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.1);
}

.lk__photo-1, .lk__photo-2, .lk__photo-3, .lk__photo-1 img, .lk__photo-2 img, .lk__photo-3 img{
  transition: all .5s ease;
}

.lk__photo-1{
  z-index: 10;
  position: relative;
}

.lk__photo-1:hover img{
  transform: scale(1.02);
  -webkit-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.2);
}

.lk__photo-2{
  z-index: 2;
  top: 25%;
  transform: translateY(-15%);
  left: -35%;
  right: 60%;
}
.lk__photo-2:hover{
  right: 63%;
  left: -38%;
}

.lk__photo-2:hover img{
  -webkit-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.2);
}

.lk__photo-3{
  z-index: 3;
  top: 25%;
  transform: translateY(-15%);
  left: 60%;
  right: -35%;
}

.lk__photo-3:hover{
  left: 63%;
  right: -38%;
}

.lk__photo-3:hover img{
  -webkit-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.2);
}

.services .card-body{
  padding: 1.1rem !important;
  min-height: 196px;
}


.services-carousel-type{
  overflow-x: hidden;
}

.services-carousel-type *{
  cursor:move !important;
}

.services-carousel-type .card, .services-carousel-type .owl-item{
  width: 150px !important;
}

.services-carousel-type .owl-dots.disabled, .services-carousel-type .owl-nav.disabled{
  display: none;
}

.services-carousel-type .owl-item{
  float: left;
}

.services__grid .caption, .apps-market .caption {
    position:absolute;
    top:-200%;
    right:0;
    background: #231F20 !important;
    width:100%;
    height:100%;
    padding:5%;
    text-align: left;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.services__grid .caption p, .apps-market .caption p{
     font-size: 15px;
     line-height: 1.3;
}

.services__grid .card .caption, .apps-market .card .caption{
  top: 0;
  opacity: 0;
  border-radius: 12px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.services__grid .card:hover .caption, .apps-market .card:hover .caption{
  opacity: 1;
}

.services__grid .card, .apps-market .card {
    position:relative;
    overflow:hidden;
    border-radius: 12px;
    border: none;
}
.services__grid .card img, .apps-market .card img{
     margin: 0;
     display: block;
     border-radius: 22px;
     padding-bottom: 12px;
     max-width: 100%;
     height: auto;
}

.services__grid .app-desc, .apps-market .app-desc{
  display: flex;
  flex-direction: column;
  height: 80px !important;
}

.services__grid .app-desc>.title, .apps-market .app-desc>.title{
  /* margin-bottom: auto; */
  line-height: 1.3;
  font-size: 18px;
}

.services__grid .app-desc>p, .apps-market .app-desc>p{
  margin-bottom: 0;
  margin-top: auto;
}

.services__nav-btn{
  color: white;
  font-weight: 700;
  width: 145px;
  transition: all .2s ease;
}

.services__nav-btn:hover{
  background-color: rgb(255,255,255,0.3) !important;
  color: white;
}

.services__nav-btn.active{
  color: #F2432B !important;
  background-color: white !important;
}

#servicesTabList .nav-item:first-child .services__nav-btn{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#servicesTabList .nav-item:last-child .services__nav-btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#servicesTabList, #lifehacks{
  border: 2px solid white;
  border-radius: 10px;
  display: inline-flex;
}

.services__grid{
  margin-left: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#lifehacksSection{
  position: relative;
  height: 660px;
}

#lifehacksSection .container{
  position: relative;
  /*background: rgba(255, 255, 255, .98);*/
  border-radius: 12px;
  z-index: 10;
  padding-top: 20px;
}

#lifehacks{
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
}

/* #lifehacksSection h2{
  font-size: 40px;
} */

#lifehacks li a{
  background-color: transparent !important;
  color: #231F20;
}

#lifehacks li.active a{
  color: #F2432B;
}

#lifehacksSection .description{
  max-width: 800px;
}

.lifehackBg, .lifehackBg__image, .lifehackBg__pattern{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center bottom;
  transition: opacity .5s ease;
  z-index: 1;
  /*background-repeat: no-repeat;*/
}

.text-white{
  color: white !important;
}

.lifehackBg__pattern{
  z-index: 2;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAAB5JREFUCB1jYGBgmAnEMABngxhgDhNMCpmGKwOpAgB/PAOZdt/rZgAAAABJRU5ErkJggg==) repeat;
}

.lifehackBg#lifehackBg-1{
  opacity: 0;
}
.lifehackBg#lifehackBg-2{
  opacity: 0;
}
.lifehackBg#lifehackBg-3{
  opacity: 0;
}
.lifehackBg#lifehackBg-4{
  opacity: 0;
}
.lifehackBg#lifehackBg-5{
  opacity: 0;
}

.lifehackBg__image#lifehackBg__image-1{
  background: url('../img/lifehacksBg/1.jpg');
  background-size: cover;
  z-index: 1;
}
.lifehackBg__image#lifehackBg__image-2{
  background: url('../img/lifehacksBg/2.jpg');
  background-size: cover;
  z-index: 1;
}
.lifehackBg__image#lifehackBg__image-3{
  background: url('../img/lifehacksBg/3.jpg');
  background-size: cover;
  z-index: 1;
}
.lifehackBg__image#lifehackBg__image-4{
  background: url('../img/lifehacksBg/4.jpg');
  background-size: cover;
  z-index: 1;
}
.lifehackBg__image#lifehackBg__image-5{
  background: url('../img/lifehacksBg/5.jpg');
  background-size: cover;
  z-index: 1;
}

.lifehackBg.active{
  opacity: 1 !important;
}

#lifehacksSection .description .info-title{
  font-weight: 600;
  font-size: 35px;
  margin: 0 0 30px;
}

#lifehacksSection .description p, #lifehacksSection .description li{
  line-height: 1.3;
  font-size: 25px;
  margin-bottom: 0;
}

.services-calc{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.help{
  padding-bottom: 7rem;
}

.lk__feature{
  font-size: 18px;
  font-weight: 600;
}


.apps-market__title{
  font-size: 34px;
}

.product-1{
  background-color: #fbb743;
}
.product-2{
  background-color: #7CC8A7;
}
.product-3{
  background-color: #85C5E5;
}
.product-4{
  background-color: #FE7B69;;
}
.product-5{
  background-color: #F0864E;
}
.product-6{
  background-color: #BA8BBC;
}


.apps-market__app{
  height: 100%;
  border: 1px solid #eaeaea !important;
}

.apps-market__app img{
  border: 1px solid #eaeaea;
  padding-bottom: 0 !important;
  margin-bottom: 12px !important;
}

.apps-market__app .caption{
  background-color: #F2432B !important;
}

.more-apps{
  background: #F2432B;
}

.more-apps img{
  border: 0;
}

.more-apps p{
  line-height: 1.2;
}

.more-apps a, .more-apps a:visited{
  color: white;
  text-decoration: none;
}

.more-apps a:hover, .more-apps a:active{
  color: #231F20;
}

.apps-market__desc p{
  font-size: 18px;
}

/* .apps-market__app .title{
  font-size: 18px !important;
}

.apps-market__app p{
  font-size: 16px !important;
} */


.faq{
  padding-top: 6rem;
}

.faq__question{
  color: white;
  margin-bottom: 20px;
}

.question__title{
  margin-bottom: 20px !important;
}

.question__button{
  color: white;
  border-bottom: 1px dashed white;
  padding: 2px;
  font-size: 23px;
  font-weight: 700;
  text-decoration: none !important;
  text-align: left;
  white-space: normal;
}

.question__button:hover{
  color: #231F20;
  border-bottom: 1px dashed #231F20;
}

.question__answer-text{
  margin-bottom: 0;
  padding: 15px;
}

.contacts{
  background-color: #231F20;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.contacts__title{
  font-size: 25px;
}

.contact__city{
  font-size: 25px;
  font-weight: 700;
}

.contact__street{
  font-size: 20px;
}

.contact__link, .contact__link:visited{
  color: white;
  text-decoration:none;
  display: inline-block;
  position: relative
}
.contact__link::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px dashed;
  margin-top: 5px;
}


.contact__link:hover, .contact__link:focus{
  color: #F2432B;
  text-decoration:none;
  /* border-bottom: 1px dashed #F2432B; */
}

.contact__link_hover_black{
  font-size: 35px;
  font-weight: 700;
}

.contact__link_hover_black:hover{
  color: #231F20;
}

#InfratelWidget{
  border: 0 !important;
}

#InfratelWidget button.btn, .customCallModalIcon{
  border: 0;
  border-radius: 20px;
  font-family: 'Futura', sans-serif;
  font-weight: 700;
  transition: all .2s ease;
}

.contacts #InfratelWidget button.btn{
  color: #F2432B;
  background-color: white;
}

.customCallModalIcon{
  /* color: #F2432B; */
  padding-right: 40px;
  padding-left: 40px;
  background-color: #F2432B;
  border: 2px solid transparent;
}

.contacts #InfratelWidget img{
  display: none !important;
  filter: invert(1)
}


.contacts #InfratelWidget button.btn:hover{
  color: white;
  background-color: #F2432B;
}

.customCallModalIcon:hover{
  /* color: #F2432B; */
  background-color: #231F20;
  border: 2px solid #F2432B;
}

.contacts #InfratelWidget button.btn:hover img{
  filter: invert(0)
}

.copyright{
  background-color: rgb(27, 27, 27);
}

.navbar{
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
}

.navbar-brand__title{
  font-weight: 900;
  color: #231F20;
  font-size: 30px;
}

#InfratelButtonModal{
  z-index: 1000000 !important;
}

.modalinfra-dialog .modalinfra-content{
  border-radius: 12px !important;
  border: 5px solid #F2432B !important;
}

.navbar-brand__img{
  height: 35px !important;
}

.apps-market .caption p{
  font-size: 13px;
  line-height: 1.1;
}

@media (max-width: 767px){
  .header__img{
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .section__angeled_top-only::before{
    display: none !important;
  }
  .cashbox__info{
    padding-right: 3rem;
    padding-bottom: .5rem;
  }
  .cashbox__image{
    margin: 0 3rem;
    height: 150px;
  }
  .cashbox:hover .cashbox__image{
    margin-left: 3rem !important;
  }
  .border_right{
    border: 0;
  }
  .section__title{
    font-size: 30px;
  }
}

@media (max-width: 500px){
  .header__img{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .cashbox-modal__img{
    display: block;
    float: none !important;
    margin-right: auto;
    margin-left: auto;
  }
}

.cashbox-calc__cashbox{
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  padding: 20px;
  cursor: pointer;
  border: 3px solid white;
}

.cashbox-calc__cashbox-title{
  margin-top: 10px;
  font-weight: 700;
}

.cashbox-calc__cashbox:hover, .cashbox-calc__cashbox.active{
  /* background-color: #F2432B; */
  border: 3px solid #231F20;
}
